<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectg.westudy">

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSVlBEwkcBoz-kj2U7ntKrWcLKT0_-5BM" />

        <activity
            android:name=".LoginSignup.SplashActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignup.MainLoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".LoginSignup.LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginSignup.NewAccountRegisterActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".HomeDashboard.HomeActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".HomeDashboard.CreateProfileActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".HomeDashboard.MapsActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".HomeDashboard.CreatePreferenceActivity"
            android:theme="@style/LoginTheme" />

        <!--
        ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomeDashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Profile.EditProfileActivity" />
        <activity android:name=".Analytics.AnalyticsActivity" />
        <activity android:name=".History.HistoryActivity" />
        <activity android:name=".Options.SettingsActivity" />
        <activity android:name=".Options.AboutActivity" />
        <activity android:name=".Options.HelpActivity" />
        <activity android:name=".StudyGroups.CreateStudyGroupActivity" />
        <activity android:name=".HomeDashboard.MapsFragmentActivity"></activity>
    </application>

</manifest>